<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <h3>Edit Image</h3>

    <!-- Upload -->
    <form action="/display_image" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit" class="btn btn-primary">
            Display Image
        </button>
    </form> 
    
    {% if uploaded_image %}
        <img src="{{ uploaded_image }}" alt="Display Image">
    {% endif %}

    
    <!-- Gray -->
    <form action="/ConertToGray" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Gray
        </button>
    </form> 

    {% if gray_image %}
        <img src="data:image/png;base64, {{ gray_image }}" alt="Grayscale Image">
    {% endif %}

    <!-- Laplacian -->
    <form action="/ConvertToLap" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Laplacian
        </button>
    </form> 

    {% if lap_image %}
        <img src="data:image/png;base64, {{ lap_image }}" alt="Laplacian Image">
    {% endif %}

     <!-- Canny -->
     <form action="/ConvertToCanny" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Canny
        </button>
    </form> 

    {% if canny_image %}
        <img src="data:image/png;base64, {{ canny_image }}" alt="Cany Image">
    {% endif %}


     <!-- Red -->
     <form action="/ConvertToRed" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Red
        </button>
    </form> 

    {% if red_image %}
        <img src="data:image/png;base64, {{ red_image }}" alt="Cany Image">
    {% endif %}


     <!-- Blue -->
     <form action="/ConvertToBlue" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Blue
        </button>
    </form> 

    {% if blue_image %}
        <img src="data:image/png;base64, {{ blue_image }}" alt="Cany Image">
    {% endif %}

     <!-- Green -->
     <form action="/ConvertToGreen" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Convert To Green
        </button>
    </form> 

    {% if green_image %}
        <img src="data:image/png;base64, {{ green_image }}" alt="Cany Image">
    {% endif %}


    <!-- Detect Faces -->
    <form action="/Detect_Faces" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Detect Faces
        </button>
    </form> 

    {% if detect_image %}
        <img src="data:image/png;base64, {{ detect_image }}" alt="Cany Image">
    {% endif %}

    <!-- From Image to Text -->
    <!-- <form action="/From_Image_to_Text" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            From Image to Text
        </button>
    </form> 

    {% if From_Image_to_Text %}
        <img src="data:image/png;base64, {{ From_Image_to_Text }}" alt="Cany Image">
    {% endif %} -->
    

    <!-- Resize Image -->
    <form action="/Resize_Image" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Resize Image
        </button>
        <label for="width">Width:</label>
        <input type="number" id="width" name="width" required><br><br>

        <label for="height">Height:</label>
        <input type="number" id="height" name="height" required><br><br>
    </form> 

    {% if Resize_Image %}
        <img src="data:image/png;base64, {{ ResizedImage }}" alt="Cany Image">
    {% endif %}


    <!-- Segmentetion Image -->
    <form action="/Segmentation_Image" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">
            Segmentetion Image
        </button>
    </form> 

    {% if Segmentation_Image %}
        <img src="data:image/png;base64, {{ Segmentation_Image }}" alt="Cany Image">
    {% endif %}        



    <a href="{{ url_for('download_image') }}" download="image.png" class="btn btn-primary">Download Image</a>

    <form action="/" method="get">
        <button type="submit" class="btn btn-secondary">Back</button>
    </form>

    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>