<!DOCTYPE html>
<html>
<head>
  <title>Camera and Video Upload</title>
  <script src="/WebApp/js/script.js" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <h1>Camera and Video Upload</h1>
  <div>
    <button id="cameraButton">Open Camera</button>
    <input type="file" id="videoInput" accept="video/mp4" />
  </div>
  <div id="videoContainer">
    <video id="videoPlayer" controls autoplay></video>
  </div>

  <form action="/" method="get"><button type="submit" class="btn btn-primary">Back</button></form>

  <!-- Add Bootstrap and jQuery JS links -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<script>
    document.addEventListener("DOMContentLoaded", () => {
  const cameraButton = document.getElementById("cameraButton");
  const videoInput = document.getElementById("videoInput");
  const videoPlayer = document.getElementById("videoPlayer");

  cameraButton.addEventListener("click", () => {
    openCamera();
  });

  videoInput.addEventListener("change", () => {
    loadVideo();
  });

  function openCamera() {
    if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
      alert("Camera not supported in this browser.");
      return;
    }

    navigator.mediaDevices.getUserMedia({ video: true })
      .then(stream => {
        videoPlayer.srcObject = stream;
      })
      .catch(error => {
        console.error("Error accessing camera: ", error);
      });
  }

  function loadVideo() {
    const file = videoInput.files[0];
    if (file) {
      const videoURL = URL.createObjectURL(file);
      videoPlayer.src = videoURL;
      
      // Call the process_video endpoint
      processVideo(file);
    }
  }

  function processVideo(videoFile) {
    const formData = new FormData();
    formData.append("video", videoFile);

    fetch("/process_video", {
      method: "POST",
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        console.log(data.message); // Print the response message from the server
      })
      .catch(error => {
        console.error("Error while processing video: ", error);
      });
  }
});

</script>
</body>

</html>
