<!DOCTYPE html>
<html>
<head>
  <title>Finger Counting</title>
  <script src="/WebApp/js/script.js" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <h3>Finger Counting</h3>


  <form action="/GetFingers" method="get"><button type="submit" class="btn btn-primary">Get Count from your fingers in Real-Time</button></form>


  <form action="/" method="get"><button type="submit" class="btn btn-secondary">Back</button></form>

  <!-- Add Bootstrap and jQuery JS links -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
