<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    <h3>Scanner</h3>

    <div>
        <button id="cameraButton">Open Camera</button>
        <input type="file" id="videoInput" accept="video/mp4">
    </div>
    <div id="videoContainer">
        <video id="videoPlayer" controls autoplay></video>
    </div>

    <form action="/display_image_scanner" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit" class="btn btn-primary">Display Image</button>
    </form>

    {% if uploaded_image %}
        <img src="{{ uploaded_image }}" alt="Display Image">
    {% endif %}



    <form action="/" method="get"><button type="submit" class="btn btn-primary">Back</button></form>

    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const videoInput = document.getElementById("videoInput");
            const videoPlayer = document.getElementById("videoPlayer");
            videoInput.addEventListener("change", ()=>{
                loadvideo();
            });
            function loadvideo(){
                const file = videoInput.files[0];
                if (file){
                    const videoURL = URL.createObjectURL(file);
                    videoPlayer.src = videoURL;
                }
            }

    </script>
</body>
</html>